<!DOCTYPE html>
    <html>
    <head>
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Address books</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
       
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel='stylesheet' href='./css/main.css'>

    </head>
    <body>

        <div class="container-fluid">

            <header class="page-header">

                <h1 class="text-center">Address Book</h1>    

            </header>

            <section class="col-md-6 col-md-offset-3">

                {% if contacts is not empty %}
                    
                    <h2 class="text-center" >All of your current contacts</h2>
                    <ul>
                        {% for contact in contacts %}
                            <li>
                                <address>
                                    <strong>{{ contact.getName }}</strong><br>
                                    {{ contact.getAddress }}<br>
                                    <strong>{{ contact.getPhone }}</strong><br />
                                </address>
                            </li>
                        {% endfor %}
                    </ul>

                {% endif %}

                <form action='/contacts' method='post'>
                    
                    <div class='form-group'>
                        <label for='name'>Add contact's name:</label>
                        <input id='name' class='form-control' name='name' type='text' placeholder='Bruce Wayne'>
                    </div>
                    
                    <div class="form-group">
                        <label for='phone'>Add contact's phone number:</label>
                        <input id='phone' class="form-control" name='phone' type='tel' placeholder='555 555 5555'>
                    </div>

                    <div class="form-group">
                        <label for='address'>Add contact's address:</label>
                        <input id='address' class='form-control' name='address' type='address' placeholder='1007 Mountain Drive, Gotham City, IL 60035'>
                    </div>

                    <div class="form-group">
                        <button type='submit' type='button' class='btn btn-primary'>Add this contact!</button>
                    </div>

                </form>

                <form action='/delete_contacts' method='post'>
                    <button type='submit' type='button' class='btn btn-danger'>Delete your list of contacts!</button>
                </form>

            </section>    

        </div> <!-- end of container -->

        
    </body>
	</html>